.fx-top-bar {
    -fx-background-color: red;
    -fx-border-color: blue;
    -fx-border-width: 30;
}
Label {
    -fx-background-color: yellow;
    -fx-border-color: orange;
    -fx-border-width: 5;
    -fx-margin: 5;
}