.fx-top-bar {
    -fx-background-image: url("../images/top_bar_background_image.png");
}
.fx-top-bar-label {
    -fx-text-fill: #F5F5F5;
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, black, 4, 0.7, 1.4, 1.4);
}

.fx-bar-button { 
    -fx-background-color: linear-gradient(#FFD54F, #F9A825);
    -fx-text-fill: #222;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, #ffd700, 10, 0.5, 0, 0);
    -fx-cursor: hand;
}
.fx-bar-button:hover {
    -fx-background-color: #eac703;
}
.fx-bar-button:pressed {
    -fx-background-color: #ffd700;
    -fx-translate-y: 2;
}

.fx-pane-border {
    -fx-border-color: gold;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}

.fx-player-panel {
    -fx-background-image: url("../images/left_background_image.png");
    -fx-padding: 5;
}
.fx-market-panel {
    -fx-background-image: url("../images/right_background_image.png");
    -fx-padding: 5;
}
.fx-panel-label {
    -fx-text-fill: rgb(121, 73, 45);
    -fx-font-size: 17px;
    /* -fx-font-weight: bold; */
    -fx-padding: 2;
    -fx-effect: dropshadow(gaussian, gold, 1, 0.7, 1, 1);
}
.fx-board {
    -fx-background-image: url("../images/mid_background_image.png");
}

.fx-bottom-bar {
    -fx-background-image: url("../images/bottom_bar_background_image.png");
}



